---
username: 'bitbucket-username'
password: 'your-bitbucket-password'
email: 'email@example.com'

sensor:
  bitbucket_type: 'server' # or 'cloud'
  targets:
    - repository: 'username/repository_name'
      branches:
        - 'master'
    - repository: 'test/foo'
      branches:
        - 'master'
        - 'dev'
  timeout: 20
